$light-red:rgba(255, 67, 67, 1);
//title-fonts
$title-main:4rem;//64px
$title-section:2.25rem;//34px
$title-section-smaller:1.875rem;//30px
$title-card:1.5rem;//24px
//text-fonts
$text-medium:1.125rem;//18px
$text-small:0.8125rem;//13px
