.contact {
    padding: 71px 0px 67px;
    background-color: rgba(53, 60, 101, 1);
    @media(max-width:500px){
        padding: 35px 0px ;
    }
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0px -15px;
    // align-items: center;
    @media(max-width:500px){
        width:100%;
        flex-direction: column;
        align-items:center;
        text-align: center;
        // margin: auto;
    }
    @media(max-width:330px){
        align-items:start;
    }
}


.contact-wrap__item {
    width:370px;
    margin: 0px 15px;
    @media(max-width:500px){
        margin: 40px 0px;
        padding: 0px 30px;
        width:320px;
    }
}
.contact-item__title {
    font-size:$text-medium;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 29px;
    text-align: center;
    color: #fff;
    @media(max-width:500px){
        margin-bottom: 40px;
    }
}
.contact-item__text {
    text-align:center;
    p{
        text-transform: capitalize;
        font-size:$text-medium;
        font-weight:400;
        color:#fff;
    }

}
.contact-item__socials {
    text-align: center;
}
.fa-brands-contact {
    margin: 0px 10px;
}

