.footer {
    padding: 24px 0px;
    background-color: rgba(44, 49, 84, 1);
    @media(max-width:1200px){
        padding: 15px 0px;
    }
    @media(max-width:500px){
        padding: 30px 0px;
    }
}
.footer-wrap {
    max-width: 370px;
    margin: auto;
}
.footer-wrap__text {
    p{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color:rgba(128, 128, 128, 1);
        text-transform: capitalize;
        span{
            color:#fff;
        }
    }
    @media(max-width:500px){
        p{
            font-size: 14px;
        }
    }
}