@import './cdn.scss';
@import './var';
@import './mixins';
@import './font.scss';
*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position:relative;
    z-index: 5;
}
html{
    font-family: "Raleway", sans-serif;
}



