.preferencies {
    padding: 116px 0px;
    @media(max-width:500px){
        padding: 40px 0px;
    }
    
}
.preferencies-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 88px 31px;
    @media(max-width:500px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
}
.preferencies-wrap__item {
    
}
.preferencies-item__img {
    width: 76px;
    height: 76px;
    margin: 0px auto 60px;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        // position: center;
    }
}
.preferencies-item__title {
    padding: 0px 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: $title-card;
    font-weight: 900;
    margin-bottom: 2.5rem;
    @media(max-width:1200px){
        font-size:18px;
    }
    @media(max-width:500px){
        margin-bottom: 10px;
    }
}
.preferencies-item__text {
    text-align: center;
    p{
        font-size: $text-medium;
        font-weight: 400;
    }
    @media(max-width:1200px){
        // font-size:14px;
    }
}